<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <trust level="Full" />
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <!--1-->
    <httpRuntime requestValidationMode="2.0" executionTimeout="240" maxQueryStringLength="32768" maxRequestLength="20000" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <membership defaultProvider="MemberShipProvider">
      <providers>
        <add name="MemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Con" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="2147483647" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="TBHROLES" defaultProvider="RoleProvider">
      <providers>
        <!--<add connectionStringName="Con" applicationName="/" name="RoleProvider" 
        type="System.Web.Security.SqlRoleProvider, System.Web,&#xA;Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <add connectionStringName="Con" applicationName="/" name="RoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="LoginUrlUser" value="http://qa-regtech.azurewebsites.net/adminsection/login.aspx" />
    <add key="LoginUrlAdmin" value="http://qa-regtech.azurewebsites.net/adminsection/login.aspx" />
    <!--<add key="LoginUrlUser" value="http://webapp001-clairifi.azurewebsites.net/adminsection/login.aspx"/>
    <add key="LoginUrlAdmin" value="http://webapp001-clairifi.azurewebsites.net/adminsection/login.aspx"/>-->
    <!--<add key="LoginUrlAdmin" value="http://localhost:50002/adminsection/login.aspx"/>
    <add key="LoginUrlUser" value="http://localhost:50002/login.aspx"/>-->
    <add key="BCCEmailIDs" value="vipul@clairifi.com|corey@clairifi.com" />
    <add key="SenderEmailID" value="insight.report@clairifi.com" />
    <add key="LoginEmailID" value="insight.report@clairifi.com" />
    <!--labtester1@greenlightconsulting.com-->
    <add key="pwd" value="9=22(3At345" />
    <!--Gr33nlight-->
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="SessionExpirationMessageTime" value="600000" />
    <!--30000-->
    <add key="EquipmentAttributeCount" value="169" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Con" connectionString="Data Source=sqlserver-clairifi.database.windows.net;Initial Catalog=prod.sqldb001.clairifi;User ID=clairifiprodadmin;Password=b3%33Z78r6.P;Pooling=False;" providerName="System.Data.SqlClient"/>-->
    <add name="Con" connectionString="Data Source=.\SQLEXPRESS;initial catalog=dev-promoplan;integrated security=True;MultipleActiveResultSets=True;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
    <!--<add name="Con" connectionString="Data Source=VCSQL001.cloudapp.net;Initial Catalog=CompanyTesting;User ID=RFIDEM_Admin;Password=Gr33nlight09*;Pooling=False;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Con" connectionString="Data Source=dev-sqlserver-glsgws.database.windows.net; Initial Catalog=dev-promoplan; User ID=glsgwsdevadmin; Password=5N+km69h5b;Integrated Security=False;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Con1" connectionString="Data Source=VCSQL001.cloudapp.net;Initial Catalog=Company;User ID=RFIDEM_Admin;Password=Gr33nlight09*;Pooling=False;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SqlJobCon" connectionString="Data Source=VCSQL001.cloudapp.net;Initial Catalog=msdb;User ID=RFIDEM_Admin;Password=Gr33nlight09*" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.0" newVersion="7.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>